@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&display=swap');

@import "tailwindcss";

button.btn-black, a.btn-black {
    @apply bg-black text-white font-bold text-[1rem] py-3 px-8 border border-white rounded-[24px] cursor-pointer hover:bg-white hover:border-black hover:text-black transition-all duration-450;
}
button.btn-white, a.btn-white {
    @apply bg-white text-black font-bold text-[1rem] py-2 px-16 border border-black rounded-[24px] cursor-pointer hover:bg-black hover:text-white transition-all duration-450;
}
button.btn-transparent, a.btn-transparent {
    @apply bg-transparent text-black font-normal text-[14px] leading-[20px] py-3 px-8 border border-black rounded-[24px] cursor-pointer hover:bg-black hover:text-white transition-all duration-450;
}

button.theme_button_navbar {
    @apply bg-white text-[#111111] text-[14px] py-1 px-4 border border-[#111111] rounded-[24px] cursor-pointer hover:bg-black hover:text-white transition-all duration-450;
}

button.theme_button_hmenu {
    @apply bg-black text-white font-bold text-[1rem] py-1 px-12 border border-black rounded-[24px] cursor-pointer hover:bg-transparent hover:text-black hover:border-black transition-all duration-450;
}
