@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');



@import "tailwindcss";

/* Hide scrollbar while maintaining scroll functionality */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
@theme {
  /* ===============================
     COLORS
  =============================== */
  --color-primary: 17 17 17;     /* #111111 */
  --color-secondary: 98 98 98;   /* #626262 */

  /* ===============================
     FONT SIZES
  =============================== */

  /* Desktop */
  --text-p-14: 14px;   /* p */
  --text-p-13: 13px;
  --text-p-10: 10px;   /* small links */
  --text-p-20: 20px;
  --text-h2: 42px;
  --text-h3: 30px;

  /* Mobile */
  --text-h2-m: 30px;
  --text-h3-m: 26px;
}

button.btn-black, a.btn-black {
    @apply bg-black text-white font-bold text-[1rem] py-3 px-8 border border-white rounded-[24px] cursor-pointer hover:bg-white hover:border-black hover:text-black transition-all duration-450;
}

    @apply bg-white text-black font-bold text-[1rem] py-2 px-16 border border-black rounded-[24px] cursor-pointer hover:bg-black hover:text-white transition-all duration-450;
}
button.btn-transparent, a.btn-transparent {
    @apply bg-transparent text-black font-normal text-[14px] leading-[20px] py-3 px-8 border border-black rounded-[24px] cursor-pointer hover:bg-black hover:text-white transition-all duration-450;
}

button.theme_button_navbar {
    @apply bg-white text-[#111111] text-[14px] py-1 px-4 border border-[#111111] rounded-[24px] cursor-pointer hover:bg-black hover:text-white transition-all duration-450;
}

button.theme_button_hmenu {
    @apply bg-black text-white font-bold text-[1rem] py-1 px-12 border border-black rounded-[24px] cursor-pointer hover:bg-transparent hover:text-black hover:border-black transition-all duration-450;
}

/* body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: var(--text-p-14);
  font-weight: 400;
  color: var(--color-secondary);
  background-color: var(--color-light);
  min-height: 100vh;
  overflow-x: hidden;
} */




